<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link href=assets/style.css type=text/css rel=stylesheet />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Listado de estudiantes</title>
  </head>
  <body>
    <h1>Estudiantes</h1>
    <table>
      <thead class="header">
        <tr class="titles">
          <th>NSS</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Edad</th>
          <th>Tipo de sangre</th>
        </tr>
      </thead>
      <tbody class="body">
        <% students.forEach( function (student){ %>
        <tr>
          <td><%=student.nss%></td>
          <td><%=student.firstName%></td>
          <td><%=student.lastName%></td>
          <td><%=student.age%></td>
          <td><%=student.typeBlood%></td>
          <td><a href="deletePerson/<%=student._id%>">Delete</a></td>
          <td><a href="findById/<%=student._id%>">Updated</a></td>
        </tr>
        <% }); %>
      </tbody>
    </table>
    <br />
    <a href="./main">Back</a><br />
  </body>
</html>
